[package]
name = "bevy_vulkano"
version = "0.4.0"
edition = "2021"
authors = ["Okko Hakola <okkohakola@gmail.com>"]
description = "Vulkano Backend for Bevy"
homepage = "https://github.com/hakolao/bevy_vulkano"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/hakolao/bevy_vulkano"
categories = ["gui", "game-development"]
keywords = ["gui", "imgui", "vulkano", "gamedev", "bevy"]

[features]
default = []
example_has_gui = ["gui"]
gui = ["egui_winit_vulkano"]

[dependencies]
vulkano = { version = "0.29.0", git = "https://github.com/vulkano-rs/vulkano", ref = "e8cf282" }
vulkano-util = { version = "0.29.0", git = "https://github.com/vulkano-rs/vulkano", ref = "e8cf282" }
vulkano-shaders = { version = "0.29.0", git = "https://github.com/vulkano-rs/vulkano", ref = "e8cf282" }
egui_winit_vulkano = { version = "0.17", optional = true, git = "https://github.com/hakolao/egui_winit_vulkano", branch = "master"  }
winit = "0.26.0"
image = "0.23.14"
approx = "0.5.1"
raw-window-handle = "0.4"

[dependencies.bevy]
version = "0.7.0"
default-features = false
features = []

[dev-dependencies]
anyhow = "1.0.40"
rand = "0.8.4"
bytemuck = "1.8.0"
